<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ud8/src/Arrays_multidimensionals/Activitat19.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Arrays_multidimensionals.Activitat19"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ud8"/>
</launchConfiguration>
